<h1> Listando Clientes </h1>

<ul>
  <% @customers.each do |customer| %>
    <li> <%= customer.name %> </li>
    <li> <%= customer.email %> </li>
    <li> <%= customer.phone %> </li>
    <li> <%= customer.avatar %> </li>
    <li> <%= customer.smoker %> </li>
  <% end %>
</ul>

<%= link_to 'New Client', new_customer_path %>