
<% if flash[:notice] %>
  <p> <%= flash[:notice] %> </p>
<% end %>

<p><%= @customer.name %></p>
<p><%= @customer.email %></p>
<p><%= @customer.phone %></p>
<p><%= @customer.avatar %></p>
<p><%= @customer.smoker %></p>